<% unless params['confirm-delete'] %>
  <h1>Edit Viewer <%= @viewer.name %>!</h1>

  <form method="POST" action="/viewers/<%= @viewer.id %>">
    <input type="hidden" name="_method" value="PUT" />
    <label for="name">User Name</label>
    <input type="text" name="user_name" id="name" value="<%= @viewer.name %>"/><br/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" disabled/><br/>
    <input type="submit" value="Update" />
  </form>

  <p><%= link_to('Remove this profile and all its info from the app.', 
                 "edit?confirm-delete=true") %></p>
<% else %>
  <h1>Delete Viewer <%= @viewer.name %>?</h1>

  <form method="POST" action="/viewers/<%= @viewer.id %>">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="Delete" />
  </form>

  <p><%= link_to('Nevermind, I don\'t want to!', "edit") %></p>
<% end %>